*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-primario:#F5E0B7 ;
    --color-secundario: #540D6E ;
    --de-blanco: #f3d1e5;
    --gradiente-uno: #F487B6;
    --gradiente-dos: #CC59D2;
    --otro: rgb(250, 195, 218);
}


header{
    background: linear-gradient(39.97deg,var(--gradiente-uno) .79%,var(--gradiente-dos) 79.79%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;    
}

.logo{
    text-decoration: none;
    color: #fff ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: var(--de-blanco);
}

section {
    padding: 100px 200px  ;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("s.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: var(--gradiente-dos);
    font-size: 1.4rem;
    font-weight: 500;
}
.main h2 span{
    color: red;
    display: inline-block;
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 600;
}

.main h3{
    color: var(--color-secundario);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: var(--gradiente-uno);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    
}

.main-btn:hover{
    background-color:var(--gradiente-dos);
    transform: scale(1.1);
}

.social-icon a{
    color: var(--de-blanco);
    font-size: 1.7em;
    padding-right: 30px;
}


.title{
    display: flex;
    justify-content: center;
    color: var(--color-secundario);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
    transform: scale(1.1);
}

.icon{
    color: rosybrown;
    font-size: 8em;
    text-align: center;
}

.projects{
    background-color: var(--de-blanco);
}

.projects .content{
    margin-top: 30px;   
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7 ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
    width: 100%;
}

.prject-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: black;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-detail{
    text-decoration: none;
    color: rosybrown;
}

.more-detail:hover{
    color: purple;
}

.contact .icon{
    font-size: 4.5em;
}
.contact .info .h3{
    color :black;
}

.contact .info p{
    font-size: 1.5em;
}


.info{
    text-align: center;
}

.info h3{
    color: cadetblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: aqua;
}

.footer .social-icon{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-conten h2{
        font-size: 1em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:642px){
    body{
        font-size: 12px;
    }
    .main-conten h2{
        font-size: 0.8em;
    }
    .main-conten h3{
        font-size: 1.4em;
    }
}

@media(max-width:300px){
    body{
        font-size: 10px;
    }
}